extends ../layout

block content

	#header
		.container
			.row
				h1 System Admin

	div(class="sideMenu")
		nav(class="menu-title") DashBoard
		nav(class="menu-title") User Information


	div(class="panel")
		each user in users
			div(class="row user")
				form(action="/users/#{user.id}" method="post")
					div(class="six columns")
						h3 User ID: #{user.id}
						label Name: 
						input(type="text" name="firstName" value=user.firstName)
						input(type="text" name="lastName" value=user.lastName)
						label Email:
						input(type="text" name="email" value=user.email)
						label Password:
						input(type="text" name="password" value=user.password)
						label URL:
						input(type="text" name="url" value=user.url)
						input(type="hidden" name="id" value=user.id)
						label Location
						input(type="text" name="location" value=user.location)
						label Keywords
						input(type="text" name="keywords" value=user.keywords)
						div(class="adminBox")
							label Admin?: 
								input(class="adminCheckBox" type="checkbox" name="admin" checked=user.admin)
						input(type="submit" value="update")
						input(type="submit" value="delete")
